<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pdf Reader</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300'>
  <link href="static/icon.png" rel="icon">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="upload">
    <div class="upload-files">
      <header>
        <p>
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          <span class="up">up</span>
          <span class="load">load</span>
        </p>
      </header>
      <form class="grid" action="/upload" method="POST" enctype="multipart/form-data">
        <div class="body file-upload-wrapper" id="drop">
          <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
          <label for="name">
            <p class="pointer-none"><b>Select a file</b><br /><a href="" id="triggerFile">Choose a file</a> to
              begin the upload</p>
            <input type="file" name="file" />
            <input class="file_submit" type="Submit" value="Upload File">
          </label>
          <div class="upload-button">
            <button class="p">
              <span class="submit">Submit</span>
              <span class="loading"><i class="fa fa-refresh"></i></span>
              <span class="check"><i class="fa fa-check"></i></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- partial -->
  <script src="static/script.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src='https://use.fontawesome.com/2473308824.js'></script>
  <script src="static/script.js"></script>

</body>

</html>